.App {
    text-align: center;
    border: 5px solid limegreen;
  }

.centerAK {
    text-align: center;
  }

  #header {
    position: relative;
    min-height: 150px;
  }
  
  #header-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #header, #header * {
    background: rgba(40, 40, 100, 0.25);
  }

 .header {
    position: relative;
    min-height: 150px;
  }
  
.header-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
 .header, #header * {
    background: rgba(40, 40, 100, 0.25);
  }

  .granicay {
    border: 5px solid rgb(255, 242, 0);
  }

  .granicab {
    border: 5px solid rgb(38, 83, 245);
  }

  .granicaz {
    border: 5px solid rgb(8, 226, 8);
  }

  .rel {
    position: relative;
  }

  .abs {
    position: absolute;
  }

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height: 35px;
  }

.offerCard { 
  min-width: 230;
  max-width: 230; 
  background-color: #D9EDBF; 
}

.addOdderButton {
  width: 100%;
}

.error {
  color: #db4437;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}